a{
  text-decoration: none;
}
body{
  background-color: #c0fefc;
}
img{
  height: 750px;
  width: 750px;
}

.surveyHeader{
  color: blue;
  text-align: center;
}

.form{
  vertical-align: middle;
}
input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}
