body{
  background-color: #E4FBFF;
  font-family: 'Play', sans-serif;
}

.clinic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar{
  min-height: 90px;
}

.siteIcon{
  height: 30px;
  width: 30px;
}

.textIcon{
  display:inline;
  margin-left:5px;
}

.card-title{
  text-align: center;
}

.card-text{
  text-align: center;
}

figure{
  display: inline-block;
}

.doctor{
  margin-right: 50px;
}

.footer{
  text-align: center;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

figcaption{
  text-align: center;
}
