body {
  background-color: #fcecdd;
  text-align: justify;
}
p{
  font-size: 20px;
}

h1 {
  text-align: center;
}

.mySlides {
  display: none;
}

.slide{
  height: 60%;
  width:70%;
  margin-left: 95px;
  vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

* {
  box-sizing: border-box
}

.clientInfo {
  text-align: center;
}

/*Code inspired by w3schools*/
.vertical-icon-bar {
  width: 350px;
  /* Set a specific width */
  background-color: #555;
  /* Dark-grey background */
  float: left;
}

.vertical-icon-bar button {
  display: block;
  /* Make the links appear below each other instead of side-by-side */
  text-align: center;
  /* Center-align text */
  padding: 16px;
  /* Add some padding */
  transition: all 0.3s ease;
  /* Add transition for hover effects */
  font-size: 36px;
  /* Increased font-size */
  width: 100%;
}

img {
  height: 200px;
  width: 200px;
}

.tabcontent {
  float: left;
  padding: 0 12px;
  width: 60%;
  border-left: none;
}

.prodSection{
  text-align: center;
}

.title {
  color: #93329e;
  font-family: 'Viaoda Libre', cursive;
  font-size: 2.9rem;
  text-align: center;

}

.vertical-icon-bar button:hover {
  background-color: #fcecdd;
  /* Add a hover color */
}

.vertical-icon-bar button.active {
  background-color: #fcecdd;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  font-size: 20px;
  background-color: #fff5fd;
  color: #444;
  cursor: pointer;
  padding: 18px;
  height: 100px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#chooseBox {
  position: relative;
}

#chooseBox select {
  width: 100%;
  font-weight: bold;
}

.elementSelected {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
